---
import type { Contact } from '@/pages/api/contact'

import AdminLayout from '@/layouts/AdminLayout.astro'
import ContactTable from './_partials/contact-table.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM contacts')
  .first<number>('total')

const getContacts = db
  .prepare('SELECT * FROM contacts LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .run<Contact>()

const [count, contacts] = await Promise.all([getCount, getContacts])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <ContactTable
      contacts={contacts.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
