---
import BaseLayout from '@/layouts/BaseLayout.astro'

if (Astro.locals.user) {
  return Astro.redirect('/admin')
}

const error = Astro.url.searchParams.get('error')
---

<BaseLayout title="Login | Bookinists">
  <main class="flex flex-col gap-8 justify-center items-center min-h-[100svh]">
    <a href="/" class="flex items-center gap-2.5">
      <i class="icon-[tabler--books] size-8 text-slate-900"></i>
      <h1 class="text-2xl font-bold text-center">Bookinists</h1>
    </a>

    <div class="max-w-xs w-full space-y-2">
      <a
        href="/login/google"
        class="flex items-center justify-center gap-2 w-full
        border rounded text-center text-sm font-medium py-2"
      >
        <img src="/icons/google.svg" class="size-4" alt="Google" />
        Sign in with Google
      </a>

      {
        error ? (
          <div
            class="text-red-500 text-center text-sm
            flex gap-2 items-center justify-center"
          >
            <i class="icon-[tabler--exclamation-circle]" />
            <p>{error}</p>
          </div>
        ) : null
      }
    </div>
  </main>
</BaseLayout>
