---
import type { Storage } from '@/pages/api/storage'

import AdminLayout from '@/layouts/AdminLayout.astro'
import StorageTable from './_partials/storage-table.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM storages')
  .first<number>('total')

const getStorages = db
  .prepare('SELECT * FROM storages LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .run<Storage>()

const [count, storages] = await Promise.all([getCount, getStorages])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <StorageTable
      storages={storages.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
