---
import type { Tag } from '@/pages/api/tag'

import AdminLayout from '@/layouts/AdminLayout.astro'
import BookTable from './_tags.svelte'

const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const { results: tags } = await db.prepare('SELECT * FROM tags').run<Tag>()
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <BookTable tags={tags} client:load />
  </main>
</AdminLayout>
