---
import type { Publisher } from '@/pages/api/publisher'

import AdminLayout from '@/layouts/AdminLayout.astro'
import Publishers from './_partials/publishers.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM publishers')
  .first<number>('total')

const getPublishers = db
  .prepare('SELECT * FROM publishers LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .all<Publisher>()

const [count, publishers] = await Promise.all([getCount, getPublishers])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <Publishers
      publishers={publishers.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
