---
import type { Marketplace } from '@/pages/api/marketplace'

import AdminLayout from '@/layouts/AdminLayout.astro'
import Marketplaces from './_partials/marketplaces.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM marketplaces')
  .first<number>('total')

const getMarketplaces = db
  .prepare('SELECT * FROM marketplaces LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .all<Marketplace>()

const [count, marketplaces] = await Promise.all([getCount, getMarketplaces])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <Marketplaces
      marketplaces={marketplaces.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
