---
import { Icon } from "astro-icon/components";
import Link from "../components/Link.astro";

const pathname = Astro.url.pathname;
---

<aside class="fixed inset-y-0 w-56 bg-white p-4">
  <a href="/" class="flex items-center gap-2">
    <Icon name="tabler:books" class="size-6 text-violet-600" />
    <h1 class="text-xl font-bold text-center">Bookinists</h1>
  </a>

  <nav class="grid gap-2 mt-6">
    <Link href="/admin" isActive={(href) => pathname === href}>
      <Icon name="tabler:shield-lock" />
      <span class="text-xs font-semibold">Admin</span>
    </Link>
    <Link href="/admin/users" isActive={(href) => pathname === href}>
      <Icon name="tabler:users" />
      <span class="text-xs font-semibold">Users</span>
    </Link>
    <Link href="/admin/books" isActive={(href) => pathname === href}>
      <Icon name="tabler:book-2" />
      <span class="text-xs font-semibold">Books</span>
    </Link>
  </nav>
</aside>
