---
import type { Book } from '@/pages/api/book'

import AdminLayout from '@/layouts/AdminLayout.astro'

const PER_PAGE = 10
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const edition_id = Astro.params.edition

const edition = await db
  .prepare(
    `SELECT e.*,
            b.title AS book_title,
            p.name AS publisher_name,
            s.name AS seller_name,
            b2.name AS buyer_name,
            l.name AS lender_name
    FROM editions e
    LEFT JOIN books b ON b.id = e.book_id
    LEFT JOIN publishers p ON p.id = e.publisher_id
    LEFT JOIN contacts s ON s.id = e.seller_id
    LEFT JOIN contacts b2 ON b2.id = e.buyer_id
    LEFT JOIN contacts l ON l.id = e.lender_id
    LEFT JOIN editions_images i ON i.edition_id = e.id
    WHERE e.id=?`,
  )

  .bind(edition_id)
  .run<Book & { author_name: string }>()

if (!edition.results.length) {
  return Astro.redirect('/404', 404)
}
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <pre>
      {JSON.stringify(edition, null, 2)}
    </pre>
  </main>
</AdminLayout>
