---
import type { Tag } from '@/pages/api/tag'

import AdminLayout from '@/layouts/AdminLayout.astro'
import Tags from './_partials/tags.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM tags')
  .first<number>('total')

const getTags = db
  .prepare('SELECT * FROM tags LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .all<Tag>()

const [count, tags] = await Promise.all([getCount, getTags])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <Tags
      tags={tags.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
