---
import type { Book } from '@/pages/api/book'

import AdminLayout from '@/layouts/AdminLayout.astro'
import BookTable from './_book-partials/book-table.svelte'

const PER_PAGE = 10
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM books')
  .first<number>('total')

const getBooks = db
  .prepare('SELECT * FROM books LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .all<Book>()

const [count, books] = await Promise.all([getCount, getBooks])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <BookTable
      books={books.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
