---
import type { AwardLinking as BookAward } from '@/pages/api/award-linking'

import AdminLayout from '@/layouts/AdminLayout.astro'
import BookAwards from './_partials/book-awards.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM books_awards')
  .first<number>('total')

const getBookAwards = db
  .prepare('SELECT * FROM books_awards LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .all<BookAward>()

const [count, bookAwards] = await Promise.all([getCount, getBookAwards])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <BookAwards
      bookAwards={bookAwards.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
