---
import type { List } from '@/pages/api/list'

import AdminLayout from '@/layouts/AdminLayout.astro'
import ListTable from './_partials/list-table.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM lists')
  .first<number>('total')

const getLists = db
  .prepare('SELECT * FROM lists LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .run<List>()

const [count, lists] = await Promise.all([getCount, getLists])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <ListTable
      lists={lists.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
