---
import type { Country } from '@/pages/api/country'

import AdminLayout from '@/layouts/AdminLayout.astro'
import Countries from './_partials/countries.svelte'

const PER_PAGE = 9
const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const currentPage = +(Astro.url.searchParams.get('page') || '1')

const getCount = db
  .prepare('SELECT COUNT(*) AS total FROM countries')
  .first<number>('total')

const getCountries = db
  .prepare('SELECT * FROM countries LIMIT ? OFFSET ?')
  .bind(PER_PAGE, (currentPage - 1) * PER_PAGE)
  .all<Country>()

const [count, countries] = await Promise.all([getCount, getCountries])
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <Countries
      countries={countries.results}
      count={count ?? 0}
      currentPage={currentPage}
      perPage={PER_PAGE}
      client:load
    />
  </main>
</AdminLayout>
