---
import Header from "../lib/partials/Header.svelte";
import Sidebar from "../lib/partials/Sidebar.svelte";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { url, locals } = Astro;
---

<BaseLayout title={title}>
  <main class="relative bg-violet-50/80">
    <Header client:load user={locals.user} />
    <Sidebar client:load pathname={url.pathname} />

    <div class="ml-0 lg:ml-56 mt-10 min-h-[calc(100vh-2.5rem)]">
      <slot />
    </div>
  </main>
</BaseLayout>
