---
type Props = {
  isActive: (href: string) => boolean
  href: string
}

const { isActive, href } = Astro.props
---

<a
  {href}
  class={`flex items-center gap-2 py-2.5 px-3.5 rounded-md
  ${
    isActive(href) ? 'text-black bg-white' : 'text-slate-400 hover:bg-white/10'
  }`}
>
  <slot />
</a>
